<!--<h1>{{title}}</h1>
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <input type="text" name="firstName" ngModel required>
    <input type="text" name="lastName" ngModel required>
    <button type="submit" [disabled]="myForm.invalid"> Envoie</button>

</form>
--->
<h1> {{title}}</h1>

<form (ngSubmit)="addToList(myForm)" #myForm="ngForm">
    <input type="text" name="addDetails" placeholder="add details" ngModel required>
    <button class="btn btn-primary ms-2" type="submit" > Add</button>
</form>
<div  *ngIf="items.length>0">
    <div class="form-check" *ngFor="let item of items">
        <input  class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
        <label class="form-check-label" for="flexCheckDefault">
            {{item}}
        </label>
    </div>

</div>


